@model MVC.Models.Envios.AgregarSeguimientoVM

@{
    ViewData["Title"] = "AgregarSeguimiento";
}

<h1>AgregarSeguimiento</h1>

<h4>AgregarSeguimientoVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarSeguimiento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <input type="hidden" asp-for="FechaHora"  />
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type= "hidden" asp-for="EnvioId"  />
                <span asp-validation-for="EnvioId" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <input type= "hidden" asp-for="UsuarioId" />
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
