@model IEnumerable<MVC.Models.Envios.ListadoSeguimientosVM>

@{
    ViewData["Title"] = "Seguimientos";
}

<h1>Seguimientos</h1>

<p>
    <a asp-action="MisEnvios">Volver</a>
</p>
<table class="table">
    <thead>
        <tr>
      
            
            <th>
                @Html.DisplayNameFor(model => model.FechaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            
            <td>
                @Html.DisplayFor(modelItem => item.FechaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            
        </tr>
}
    </tbody>
</table>
